/*
 Theme Name:   Cook's Direct - Blog
 Theme URI:    http://briancwelch.com
 Description:  Cook's Direct Blog theme developed using the Maera WordPress framework and Bootstrap shell.
 Author:       Brian C. Welch
 Author URI:   http://briancwelch.com
 Template:     maera
 Version:      1.0.0
 License:      MIT License
 License URI:  http://opensource.org/licenses/MIT
 Tags:         cook's direct, maera, child
 Text Domain:  cooks-direct
 Domain Path:  /lang/
*/

/***************************
    Fonts
***************************/
/*
Load any fonts that we need.
Fonts can be found in the /assets/fonts/ folder.
We are using Tangerine, Lucida Grande and "Font Awesome"
Font Awesome is currently loaded from a CDN.  You may find more information in functions.php
*/
@font-face {
    font-family: 'Tangerine';
    font-style: normal;
    font-weight: 400;
    src: local('Tangerine'), local('Tangerine'), url(assets/fonts/Tangerine_Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Tangerine Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Tangerine Bold'), local('Tangerine-Bold'), url(assets/fonts/Tangerine_Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Lucida Grande';
    font-style: normal;
    font-weight: 400;
    src: local('Lucida Grande'), local('Lucida-Grande'), url(assets/fonts/Lucida_Grande.ttf) format('truetype');
}


h1 {
    font-size: 30px;
    color: #303030;
    line-height: 1.4em;
}


.entry-content h2 {
    font-size: 30px;
    font-weight: 400;
    color: #303030;
    letter-spacing: 0px;
    text-transform: uppercase;
    line-height: 1.4em;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    color: #969696;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
    line-height: 1.4em;
}

p {
    font-size: 14px;
    font-weight:300;
    color: #909090;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 26px;
}

/***************************
  Body
***************************/
body {
    color: #514d4d;
}

body a {
    color: #3e3e3e !important;
    /* Override.  Otherwise this will match button colors */

    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

body a:hover {
    color: #777 !important;
    text-decoration: none;
}

main {
    border-right: 2px solid #e5e5e5;
    padding-top: 25px;
}

.parallax-wrapper {
    margin-bottom: 400px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.75);
    border-bottom: 1px solid #333333;
}

.no-border{
    border-right: none;
}

.well {
    background-color: #fff;
    border: none;
    border-bottom: 2px dotted #e3e8eb;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.category-image{
    display: block;
}
.category-image img {
    padding: 5px;
}
.category-image:after, .category-image:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.category-image:after {
    content:'\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
}

.category-image:before {
    content: attr(data-content);
    width: 97.5%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: 4px 10px;
    text-align: center;
    background: #10486c;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-left: 1.3%;
}

.category-image:hover:after, .category-image:hover:before {
    opacity: 1;
}


/***************************
  Navbar
***************************/
header {
    padding: 10px 0;
}

.primary-nav{
 margin-top: 25px;
}

.header-shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.navbar-default {
    border-color: #e2e2e2;
}

.navbar-brand {
    padding: 5px;
/*    margin-bottom: 25px;*/
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;

}

.navbar-nav > li > a {
    padding: 0 15px;
/*    padding-right: 15px;*/
/*    margin: 27.5px 27.5px 25.5px -15px;*/
    border-right: 1px solid #3e3e3e;
    color: #303030 !important;
    letter-spacing: 1px;
}

.navbar-nav > li > a:hover {
    color: #969696 !important;
}

.no-menu-border {
    border: none !important;
    padding-left: 15px !important;
}
.menu_trigger {
    margin-top: 1.5px;
}
.nav-class {
    padding: 0 15px;
}

.sidebar-nav li {
    margin-bottom: 15px;
}
/***************************
  Content
***************************/
header.page-header {
    display:none;
}

#sidebar-right-wrapper.active {
    z-index: 99999;
    background: #303030;
}

#sidebar-right-wrapper.active .navbar-brand{
    display: none;
}

#sidebar-right-wrapper.active a{
    color: #969696 !important;
}

#sidebar-right-wrapper.active a:hover{
    color: #ffffff !important;
}

div.entry-content:first-letter {
    float:left;
    font-size:5em;
    color: #3e3e3e;
    margin-right:0.25em;
    line-height: .5em;
    margin-bottom: 0;
    text-shadow: 0.01em 0.01em rgba(0,0,0,0.15);
    font-family: 'Tangerine';
}

div.entry-content h1, div.entry-content h2, div.entry-content h3, div.entry-content h4, div.entry-content h5 {
    text-transform: uppercase;
}

#pre_content {
    margin: 20px 0 2px 0;
    text-align: center;
/*    padding: 50px;*/
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 200;
}

#pre_content h1 {
    font-size: 30px;
    font-weight: 400;
    color: #303030 !important;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4em;
}

#pre_content h4 {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #969696;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
    line-height: 1.4em;
}

#pre_content img {
    width 100%;
    margin: 0 auto;
}

.entry-title {
    text-transform: uppercase;
}

.post {
    margin-bottom: 50px;
}


/***************************
  Sidebar
***************************/
#sidebar-primary ul {
    margin-left: -15px;
}

#sidebar-primary ul li {
    border-bottom: 1px solid #d1d8de;
    width: 100%;
    list-style-image: url('assets/images/arrow-right.png');
}

.widget-title {
    text-transform: none;
    font-weight: 800;
    margin-top: -20px;
}


/***************************
  Button Overrides
***************************/
.coupon_button {
    float:right;
    position: relative;
    right: 0;
    top: 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-shadow: 0 0 0 2px #166699;
    border: 1px dotted #fff;
}

.coupon_button:hover, .coupon_button:focus, .coupon_button:hover, .coupon_button:active {
    box-shadow: 0 0 0 2px #166699;
    border: 1px dotted #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
/*    background-color: #166699;*/
}

.button:hover, input[type="submit"]:hover, .button:focus, input[type="submit"]:focus,
.button.focus, input[type="submit"].focus, .button:active, input[type="submit"]:active,
.button.active, input[type="submit"].active, .open > .dropdown-toggle.button, .open >
.dropdown-toggleinput[type="submit"] {
    color: #ffffff;
/*    background-color: #166699;*/
    border: 1px solid #166699;
}

/***************************
  Block/Pull Quotes
***************************/
blockquote {
    font-family: 'Lato';
    font-size: 26px;
    font-style: italic;
    width: 100%;
    padding: 10px 50px;
    margin: 0 0 25px;
    font-size: 17.5px;
    border-left: 5px solid #111111;
    line-height: 1.45;
    position: relative;
    color: #787676;
    background:#fff;
    border-left: none;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 26px;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: -10px;
    top: 20px;
    color: #b6b6b6;
    margin-right: 15px;
    font-family: 'Lucida Grande';
    font-weight: 800;
    line-height: 36px;
}

blockquote:after {
    display: block;
    content: "\201D";
    font-size: 100px;
    position: absolute;
    right: 10px;
    bottom: -20px;
    color: #b6b6b6;
    font-family: 'Lucida Grande';
    font-weight: 800;
    margin-right: 0;
    line-height: 36px;
}

blockquote cite:after {
    content: "\2014 \2009";
}


/***************************
  Latest Posts
***************************/
#recent-post-container {
    margin-top: 54px;
}

.latest_posts_article {
    padding: 15px;
    margin-bottom: 25px;
    height: 535px;
}

.latest_posts_title {
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  letter-spacing: 0px;
  line-height: 1.3em;
  float: left;
}

.latest_posts_article p{
    color: #949494;
    margin-top: 5px;
    text-align: left;
    margin-top: 25px;
}

.latest_posts_article .read-more {
    font-size: 13px;
    font-weight: 400;
    color: #303030;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-top: 15px;
    position: absolute;
    margin-top: 11px;
    left: 51%;
}
.latest_posts_article:nth-of-type(odd) {
    background: #f9f9f9;
    text-align: right;
}

.latest_posts_article:nth-of-type(odd) p{
  margin-left: 25px;
  fl
}

.latest_posts_article:nth-of-type(odd) .read-more{
    text-transform: uppercase;
    white-space: nowrap;
/*    position: absolute;
    bottom: 0;*/
    right: 15px;
}

.latest_posts_article:nth-of-type(odd) img {
/*    background: #ebebeb;*/
    padding: 5px;
    float: left;
/*    border: 1px solid #fff;*/
    width: 50%;
    margin-right: 9px;
}

.latest_posts_article:nth-of-type(even) p{
  margin-right: 25px;
}

.latest_posts_article:nth-of-type(even) .read-more{
    text-transform: uppercase;
    white-space: nowrap;
/*    position: absolute;
    bottom: 0;*/
    left: 15px;
}

.latest_posts_article:nth-of-type(even) img {
/*    background: #ebebeb;*/
    padding: 5px;
    float: right;
    width: 50%;
    margin-left: 9px;
}

.latest_posts_article h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: #363636;
    font-weight: 300;
}

.latest_posts_article:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.category-image {
    padding: 0;
}
.category-image > .thumbnail {
    border: none;
    margin-bottom: 0;
}
.category-image img{
    height: 250px;
}

/***************************
  Footer
***************************/
.green-bar{
    width: 100%;
    background: #10486c;
    text-align: center;
    padding: 25px 15px;
    min-height: 116px;
    height: 116px;  /*REMOVE THIS HEIGHT RESTRICTION TO HAVE THE BOX SCALE*/
    color: #fff !important;
}

.green-bar h3{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
    line-height: 1.6em;
    margin-top: 0;
    padding: 0;
}
.pre-footer-button {
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 400;
    color: #303030;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5em;
    width: 150px;
    height: 34px;
}
footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: -1;
    background-color:#252525;
}

footer .well {
    background-color: #252525;
    color: #818181;
    word-wrap: break-word;
    border-bottom: none;
}

footer .well h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 1.375em;
    margin-bottom: 20px;
}

footer .well ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
footer .well ul li {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    color: #818181;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
    line-height: 26px;
}

footer .well a {
    color: #818181 !important;
}

footer .well a:hover {
    color: #ffffff !important;
}

footer .well > .textwidget p {
    line-height: 2.5em;
    text-transform: uppercase;
}

footer .well ul li  > .post-date {
    text-transform: none;
    display: block;
    font-size: 12px;
    color: #AAA;
    line-height: 1.75em;
}

.footer_social_icon {
    margin-right: 15px;
}


/***************************
  Social Icons
***************************/
footer #social-icons {
    padding: 0 17.5px;
}

.widget > #social-icons {
    margin-left: 0;
}

/* EOF */
