{#<?php#}
{% import 'grid_classes.html.twig' as grid %}
{% from 'clearfix.html.twig' import clearfix as clearfix %}
<header id="banner-header" class="banner mode-{{ theme_mods.navbar_position }} {{ 'navbar navbar-default'|apply_filters( 'maera/header/class' ) }}" role="navigation">
		<div class="nav-class">

			<div class="navbar-header">

				{{ '<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-main, .nav-extras"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>'|apply_filters( 'maera/header/toggler' ) }}

				{% include 'site-logo.twig' %}

			</div>

			{% do action( 'maera/header/main/before' ) %}

			<nav class="nav-main navbar-collapse collapse" role="navigation">

				{% include 'navbar-search.twig' %}

				{% do action( 'maera/header/inside/begin' ) %}

				<ul class="{{ 'nav navbar-nav navbar-main primary-nav'|apply_filters('maera/header/menu/class') }}">
					{% for item in menu.primary.get_items %}

						{% if item.get_children %}

							<li class="dropdown {{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.get_path }}">{{ item.title }} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									{% for child in item.get_children %}
										<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ child.get_path }}">{{ child.title }}</a></li>
									{% endfor %}
								</ul>
							</li>

						{% else %}

							<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ item.get_path }}">{{ item.title }}</a>

						{% endif %}

					{% endfor %}
					<li class="menu_trigger"><a href="" class="no-menu-border"><i class="fa fa-bars menu_trigger"></i></a></li>
				</ul>

				{% do action( 'maera/header/inside/end' ) %}

			</nav>

			{% do action( 'maera/header/main/after' ) %}

		</div>
	</header>

	{% do action( 'maera/header/after' ) %}

<div class="parallax-wrapper">
	<div class="{{ grid.container() }} wrap main-section" id="wrap-main-section">
		{% do action( 'maera/content/before', post.ID ) %}
		{% if sidebar.pre_main %}<div class="row">{{ sidebar.pre_main }}</div>{% endif %}
		<div class="content" id="content" itemprop="mainContentOfPage">
			<div class="{{ grid.row() }} bg">
				<div class="content-primary-wrapper {{ 'main'|apply_filters( 'maera/section_class/wrapper' ) }}">
					{% do action( 'maera/main/before', post.ID ) %}
					{% block main %}{{ __( 'Sorry, no content', 'maera' ) }}{% endblock %}
					{% do action( 'maera/main/after', post.ID ) %}
					{# Hide the sidebar on the front page. #}
					{% if function('is_front_page') == false %}
						{% include 'sidebar-primary.twig' %}
					{% endif %}

				</div>
				{% include 'sidebar-secondary.twig' %}
				<div class="clearfix"></div>
			</div>
		</div><!-- /#content -->
		{% do action( 'maera/content/after' ) %}
		{% if sidebar.post_main %}<div class="row">{{ sidebar.post_main }}</div>{% endif %}
	</div>
	{% include 'footer-pre-bar.twig' %}
</div>
