{#
What does this file do?  This file will render the coupon button at the top of the post pages.
If you want to see how the content is injected, look at functions.php for the maera/content/before action, and the corresponding method.
The button is styled using font icons and CSS only.  Check the .coupon_button class in /assets/css/style.css for more information.
#}

<button class='[maera_button_primary_medium] coupon_button'><i class="fa fa-scissors"></i> Coupon Codes</button>
