{#
What does this file do?
This file will render the social link icons in the footer and in the social widget.
YouTube is currently commented out as I could not find any information on a Cook's Direct YouTube page.
Uncomment and add link to YouTube page to enable.
#}

{% from 'row_open.html.twig' import row_open as row_open %}
{% from 'row_close.html.twig' import row_close as row_close %}
{% from 'clearfix.html.twig' import clearfix as clearfix %}

{{ row_open( 'div', 'social-icons', ' ' ) }}
<a href="https://www.facebook.com/CooksDirectWeb" target="_blank" class="footer_social_icon"><i class="fa fa-facebook fa-lg simple_social" style="font-size: 17px;"></i></a>
<a href="https://twitter.com/cooks_direct" target="_blank" class="footer_social_icon"><i class="fa fa-twitter fa-lg simple_social" style="font-size: 17px;"></i></a>
<a href="https://plus.google.com/+CooksDirectInc/" target="_blank" class="footer_social_icon"><i class="fa fa-google-plus fa-lg simple_social" style="font-size: 17px;"></i></a>
{# <a href=""><img src="{{ youtube_icon }}" alt="Follow us on YouTube!" /></a> #}

{{ row_close( 'div', 'social-icons', ' ' ) }}

{{ clearfix() }}
