{#<?php#}
{% extends "main.twig" %}
{% from 'row_open.html.twig' import row_open as row_open %}
{% from 'row_close.html.twig' import row_close as row_close %}
{% from 'clearfix.html.twig' import clearfix as clearfix %}


{% block content %}

	{% do action( 'maera/index/begin' ) %}

	{{ row_open( 'div', 'pre_content', 'responsive' ) }}

		{# This is the post title and is at the very top of the post pages. #}
		<h1>Cook's Direct Blog</h1>

		{# This renders the date just below the title.  We can change this to a subtitle or other. #}
		<h4>An appetite for what's new</h4>

	{{ row_close( 'div', 'pre_content', 'responsive' ) }}


	{{ row_open( 'div', 'index-categories', 'categories-grid' ) }}
		{% for cat in categories %}
			<a href="{{ cat.link }}">
				<span  data-content="{{ cat.name }}" class="col-xs-12 col-md-4 category-image">

					{{ function('cat_image', cat.id) }}

				</span >
			</a>
		{% endfor %}
	{{ row_close( 'div', 'index-categories', 'categories-grid' ) }}

	{{ clearfix() }}

	{% include 'latest-posts.twig' %}



	{% do action( 'maera/index/end' ) %}

{% endblock %}
