{% from 'row_open.html.twig' import row_open as row_open %}
{% from 'row_close.html.twig' import row_close as row_close %}
{% from 'clearfix.html.twig' import clearfix as clearfix %}

{{ row_open( 'div', 'recent-post-container', '' ) }}

{% for post in posts %}
{{ row_open( 'div', 'recent-post', 'latest_posts_article' ) }}

<div class="[maera_grid_col_12]">
	{% if post.thumbnail %}
		<a href="{{ post.permalink }}"><img src="{{ post.get_thumbnail.get_src|resize(500) }}" /></a>
	{% endif %}
	<a href="{{ post.permalink }}" class="latest_posts_title">{{ post.title }}</a>
	<p>{{ post.get_preview(50, true, 'Find Out More') }}</p>

</div>

{{ row_close( 'div', 'recent-post', 'latest_posts_article' ) }}
{% endfor %}

{{ row_close( 'div', 'recent-post-container', '' ) }}

{{ clearfix() }}
