{#
What does this file do?
This file renders the content on the main page.

What is different about this file and why do we need it?
This file does not differ from the one provided by default.
However, you may make modifications to this file as needed.
#}

{% extends "base.twig" %}
{% block main %}

{% if function('is_front_page') == true %}
<main class="col-md-12 no-border" role="main">
{% else %}
<main class="{{ 'main'|apply_filters( 'maera/section_class/content' ) }}" role="main">
{% endif %}

	{% block content %}
		{{ __( 'Sorry, no content', 'maera' ) }}
	{% endblock %}

	{# If comments are open or we have at least one comment, load up the comment template #}
	{% if function('comments_open') or function('get_comments_number', post.ID) > 0 %}
	    {{ function('comments_template') }}
	{% endif %}

</main><!-- /.main -->
{% endblock %}
