{#<?php#}
{% if ( theme_mods.navbar_position == 'right-slide' or theme_mods.navbar_position == 'left-slide' ) %}

	{% do action( 'maera/sidebar/before' ) %}
		{% if theme_mods.navbar_position == 'right-slide' %}
			<a id="menu-right-toggle" href="#" class="btn btn-link btn-lg toggle"><i class="fa fa-bars"></i></i></a>

			<div id="sidebar-right-wrapper" role="navigation">
		{% elseif theme_mods.navbar_position == 'left-slide' %}
			<a id="menu-left-toggle" href="#" class="btn btn-link btn-lg toggle"><i class="fa fa-bars"></i></a>

			<div id="sidebar-left-wrapper" role="navigation">
		{% endif %}

			{% do action( 'maera/sidebar/main/before' ) %}

			<nav class="sidebar-nav" role="navigation">

			{% if theme_mods.navbar_position == 'right-slide' %}
				<a id="menu-right-close" href="#" class="btn btn-links btn-lg toggle"><i class="fa fa-times"></i></a>
			{% elseif theme_mods.navbar_position == 'left-slide' %}
				<a id="menu-left-close" href="#" class="btn btn-links btn-lg toggle"><i class="fa fa-times"></i></a>
			{% endif %}

				<div class="sidebar-header">{% include 'site-logo.twig' %}</div>

				{% include 'navbar-search.twig' %}

				{% do action( 'maera/sidebar/inside/begin' ) %}

				<ul class="{{ 'nav'|apply_filters('maera/sidebar/menu/class') }}">

					{% for item in menu.primary.get_items %}

						{% if item.get_children %}

							<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ item.get_path }}">{{ item.title }} </a>
								<ul class="sidebar-dropdown-menu">
									{% for child in item.get_children %}
										<li class="{{ item.classes|join(' ') }}"><a href="{{ child.get_path }}">{{ child.title }}</a></li>
									{% endfor %}
								</ul>
							</li>

						{% else %}

							<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ item.get_path }}">{{ item.title }}</a>

						{% endif %}

					{% endfor %}
				</ul>

				{% do action( 'maera/sidebar/inside/end' ) %}

			</nav>

			{% do action( 'maera/sidebar/main/after' ) %}

	</div>
	{% if theme_mods.navbar_position == 'right-slide' %}
		<script type="text/javascript">
			var $jq = jQuery.noConflict();
			$jq("document").ready(function() {
				/*---------- Sidebar ----------*/
				    $jq("#menu-right-close").click(function(e) {
				        e.preventDefault();
				        $jq("#sidebar-right-wrapper").toggleClass("active");
				    });
				    $jq(".menu_trigger").click(function(e) {
				        e.preventDefault();
				        $jq("#sidebar-right-wrapper").toggleClass("active");
				    });
				/*----------*/
			});
		</script>
	{% elseif theme_mods.navbar_position == 'left-slide' %}
		<script type="text/javascript">
			var $jq = jQuery.noConflict();
			$jq("document").ready(function() {
				/*---------- Sidebar ----------*/
				    $jq("#menu-left-close").click(function(e) {
				        e.preventDefault();
				        $jq("#sidebar-left-wrapper").toggleClass("active");
				    });
				    $jq("#menu-left-toggle").click(function(e) {
				        e.preventDefault();
				        $jq("#sidebar-left-wrapper").toggleClass("active");
				    });
				/*----------*/
			});
		</script>
	{% endif %}

	{% do action( 'maera/sidebar/after' ) %}

{% else %}

	{% do action( 'maera/header/before' ) %}
	{% if sidebar.body_top %}<div class="row">{{ sidebar.body_top }}</div>{% endif %}

	<header id="banner-header" class="banner mode-{{ theme_mods.navbar_position }} {{ 'navbar navbar-default'|apply_filters( 'maera/header/class' ) }}" role="navigation">
		<div class="nav-class">

			<div class="navbar-header">

				{{ '<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-main, .nav-extras"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>'|apply_filters( 'maera/header/toggler' ) }}

				{# {% include 'site-logo.twig' %} #}

			</div>

			{% do action( 'maera/header/main/before' ) %}

			<nav class="nav-main navbar-collapse collapse" role="navigation">

				{% include 'navbar-search.twig' %}

				{% do action( 'maera/header/inside/begin' ) %}

				<ul class="{{ 'nav navbar-nav navbar-main'|apply_filters('maera/header/menu/class') }}">
					{% for item in menu.primary.get_items %}

						{% if item.get_children %}

							<li class="dropdown {{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.get_path }}">{{ item.title }} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									{% for child in item.get_children %}
										<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ child.get_path }}">{{ child.title }}</a></li>
									{% endfor %}
								</ul>
							</li>

						{% else %}

							<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ item.get_path }}">{{ item.title }}</a>

						{% endif %}

					{% endfor %}
				</ul>

				{% do action( 'maera/header/inside/end' ) %}

			</nav>

			{% do action( 'maera/header/main/after' ) %}

		</div>
	</header>

	{% do action( 'maera/header/after' ) %}

{% endif %}
