{#
What does this file do?
This file renders the logo in the navbar.

What is different about this file and why do we need it?
We removed some conditional checks that the shell was currently having issues with.
#}

	{{ function('jetpack_the_site_logo') }}
