{#
What does this file do?
This file renders post title and date above the hero image.

Why do we need it?
We need to make changes to the site to reflect the design.
With this file, we can inject our own content as needed anywhere we want to,
without overriding core template files.
#}

{# Import some shell macros.  This makes writing our markup easier. #}
{% from 'row_open.html.twig' import row_open as row_open %}
{% from 'row_close.html.twig' import row_close as row_close %}
{% from 'clearfix.html.twig' import clearfix as clearfix %}

{# Begin the block of content #}
{% block content %}

{# This is a shell macro to open the containing row. #}
{# This is the same as writing <div id="pre_content" class="responsive"> #}
{{ row_open( 'div', 'pre_content', 'responsive' ) }}

	{# This is the post title and is at the very top of the post pages. #}
	<h1>{{post.post_title}}</h1>

	{# This renders the date just below the title.  We can change this to a subtitle or other. #}
	<h4>{{ post.post_date|date }}</h4>

	{# This displays the hero image. #}
	<p><img src="{{post.get_thumbnail.get_src}}" alt="{{post.post_title}}"/></p>

{{ row_close( 'div', 'pre_content', 'responsive' ) }}
{# This closes the containing div. #}
{# This is the same as writing </div> and closes our container we opened previously. #}

{# This is a clearfix so content below our header renders and clears properly. #}
{# This is the same as writing <div class="clearfix"></div> #}
{{ clearfix() }}

{% endblock %}
{# End the block of content #}
