{#
What does this file do?
This file renders the search form/box.

What is different about this file and why do we need it?
This changes the placeholder from "Search" to "What are you hungry for?".
You need this because we do not recommend overwriting core theme files.
#}

<form role="search" method="get" class="search-form" action="{{ site.url }}/">
	<div class="input-group custom-search-form">
		<input type="search" class="search-field form-control" placeholder="What are you hungry for?" value="" name="s" title="What are you hungry for?" />

		<span class="input-group-btn">
			<input type="submit" class="search-submit btn btn-default" value="{{ __( 'Search', 'maera_bs' ) }}" />
			<i class="fa fa-search"></i>
		</span>
	</div>
</form>
